html{
max-height: 100vh;

}

body {
    width: 90vmin;
    align-content: center;
    margin: auto;
    padding-top: 1%;
	justify-content: center;
}

#header{
	
	 /* Prevent vertical gaps */
	height: 500px;
   line-height: 20px;
  -webkit-column-count: 1;
  -webkit-column-gap:   20px;
  -moz-column-count:    1;
  -moz-column-gap:      20px;
  column-count:         1;
  column-gap:           20px; 
    grid-row-gap:       20px;
}

#photos {
  /* Prevent vertical gaps */

   line-height: 20px;
   
  -webkit-column-count: 2;
  -webkit-column-gap:   20px;
  -moz-column-count:    2;
  -moz-column-gap:      20px;
  column-count:         2;
  column-gap:           20px; 
    grid-row-gap:       20px;
}

#photos img {
  /* Just in case there are inline attributes */
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

#cinegraph {
	line-height: 20px;
  -webkit-column-count: 1;
  -webkit-column-gap:   20px;
  -moz-column-count:    1;
  -moz-column-gap:      20px;
  column-count:         1;
  column-gap:           20px; 
    grid-row-gap:       20px;
}